<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png" alt="logo" width="140px" height="32px" />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/daiana-eger-michels/">LINKEDIN</a>
      </li>
      <li><a href="https://github.com/DaianaEgerMichels/">GITHUB</a></li>
      <li>
        <a href="https://daiana-eger-michels-portfolio.netlify.app/"
          >PORTFOLIO</a
        >
      </li>
    </ul>
  </div>
</div>
